<div class="container">
	<div class="row">
		<div class="btn-box-tab pull-left col-md-12">
			<a href="#/profile.html"><button class="btn btn-tab btn-ltblue">Profile</button></a>
			<a href="#/receivers.html"><button class="btn btn-tab btn-ltblue">People</button></a>
			<button class="btn btn-tab btn-blue">Alerts</button>
		</div>
	</div>
</div>

<!-- Alerts ========================================================================================================================== -->
<div class="container">
	

	<div class="row">

		<!-- Display Alerts -->
		<div class="col-md-6 view-height sidebar-red">
			<div class="row">
				<div ng-repeat="alert in alerts" class="data-container col-md-8">
					<h5>TrailHead: {{alert.trailHead}}</h5>
					<h5>Route: {{alert.route}}</h5>
					<h5>Return Time: {{alert.time | date : 'medium'}}</h5>
					<h4 ng-show="{{alert.active}}" class="active-text">Active</h4>
					<div class="col-md-4 btn-box pull-right">
						<div class="pull-right">
							<button ng-click="editAlert(alert)" class="btn btn-sm btn-ltblue">edit</button>
							<button ng-click="removeAlert($index)" class="btn btn-sm btn-blue">Remove</button>	
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="btn-add">
					<button ng-click="toggleAddAlertForm()" class="btn btn-md btn-blue">Add Alerts</button>
				</div>
			</div>
		</div>

		<!-- Alert text shown when edit form is not active -->
		<div ng-hide="editAlertForm || addAlertForm" class="sidebar-blue view-height col-md-6">
			<p>Alerts</p>
			<p>This is where the important stuff happens. Add alerts with your trail-head, route description, vehicle description, return time, and the people you want to alert. If you have not already you will need to enter the people to alert on the people tab. You can also cancel an alert here by clicking the edit button for the alert and then unchecking the edit checkbox towards the bottom</p>
		</div>

		<!-- Add Alert -->
		<div class="col-md-6">
			<div ng-show="addAlertForm">
				<form ng-submit="addAlert()">
				    <div class="form-group">
				        <label>Trail-Head</label>
				        <input ng-model="alert.trailHead" class="form-control" placeholder="Where your vehicle is parked" required>
				    </div>

				    <div class="form-group">
				        <label>Route</label>
				        <input ng-model="alert.route" class="form-control" placeholder="Route you are taking and destination (hut, crag, none)" required>
				    </div>

				    <div class="form-group">
				    	<label>Vehicle Description</label>
				    	<input ng-model="alert.vehicle" class="form-control" placeholder="Make, Model, Color">
				    </div>

				    <div class="form-group">
				    	<label>Vehicle License #</label>
				    	<input ng-model="alert.vehicleLic" class="form-control" placeholder="State and License #">
				    </div>

				    <div class="form-group">
				        <label>Return Time</label>
				        <input ng-model="alert.time" type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" min="2015-01-01T00:00:00" max="2017-12-31T00:00:00" required />
				    </div>

				    <div class="form-group">
				    	<label>Choose who to alert</label>
				    	<div ng-repeat="receiver in receivers">
							<input value="{{receiver._id}}" check-list="alertReceivers" type="checkbox">
				    		<label>{{receiver.name}}</label>
					    </div>
					</div>

				    <div class="from-group">
				    	<label>Active</label>
				    	<input value="true" type="checkbox" ng-model="alert.active">
				    </div>

				    <button type="submit" class="btn btn-default btn-ltblue">Submit</button>
					<button ng-click="toggleAddAlertForm()" class="btn btn-default btn-red" type="button">Cancel</button>
				</form>
			</div>
		</div>

		<!-- edit alert -->
		<div class="col-md-6">
			<div ng-show="editAlertForm">
				<form ng-submit="saveEditAlert()">

				    <div class="form-group">
				        <label>Trail Head</label>
				        <input ng-model="alertEdit.trailHead" class="form-control" placeholder="Where your vehicle is parked" required>
				    </div>

				    <div class="form-group">
				        <label>Route</label>
				        <input ng-model="alertEdit.route" class="form-control" placeholder="Route you are taking and destination (hut, crag, none)" required>
				    </div>

				    <div class="form-group">
				    	<label>Vehicle Description</label>
				    	<input ng-model="alertEdit.vehicle" class="form-control" placeholder="Make, Model, Color">
				    </div>

				    <div class="form-group">
				    	<label>Vehicle License #</label>
				    	<input ng-model="alertEdit.vehicleLic" class="form-control" placeholder="State and License #">
				    </div>

				    <div class="form-group">
				        <label>Return Time</label>
				        
				        <input ng-model="alertEdit.time " type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" min="2015-01-01T00:00:00" max="2017-12-31T00:00:00" required />
				    </div>

				    <div class="form-group">
				    	<label>Choose who to alert</label>	
				    	<div ng-repeat="receiver in receivers">
							<input value="{{receiver._id}}" check-list="alertEdit.receivers" type="checkbox">
				    		<label>{{receiver.name}}</label>
					    </div>
					</div>

					<div class="from-group">
				    	<label>Active</label>
				    	<input value="true" type="checkbox" ng-model="alertEdit.active">
				    </div>

				    <button type="submit" class="btn btn-default btn-ltblue">Save</button>
					<button ng-click="toggleEditAlertForm()" class="btn btn-default btn-red" type="button">Cancel</button>
				</form>
			</div>
		</div>

	</div>

</div>


