<div class="container">
	<div class="row">
		<div class="col-md-4">
			<a href="#/profile.html"><button class="btn btn-default btn-ltblue">Profile</button></a>
			<a href="#/receivers.html"><button class="btn btn-default btn-ltblue">People</button></a>
			<button class="btn btn-default btn-blue">Alerts</button>
		</div>
	</div>
</div>

<!-- Alerts ========================================================================================================================== -->
<div class="container">
	<h3>Alerts</h3>
	<button ng-click="toggleAddAlertForm()">Add Alerts</button>

	<div class="row">

		<!-- Show Alerts -->
		<div class="col-md-6 view-height">
			<div ng-repeat="alert in alerts">
				<div ng-class="{'alert-active' : alert.active}" class="data-container container">
					<div>
						<h5>TrailHead: {{alert.trailHead}}</h5>
						<h5>Route: {{alert.route}}</h5>
						<h4>Return Time: {{alert.time | date : 'medium'}}</h4>
					</div>
					<div class="pull-right">
						<button ng-click="removeAlert($index)" class="btn btn-sm btn-red">Remove</button>	
						<button ng-click="editAlert(alert)" class="btn btn-sm btn-ltblue">edit</button>
					</div>
				</div>
			</div>
			<h5>Red = active alert</h5>
		</div>

		<!-- Add Alert -->
		<div class="col-md-6">
			<div ng-show="addAlertForm">
				<form ng-submit="addAlert()">
				    <div class="form-group">
				        <label>Trail-Head</label>
				        <input ng-model="alert.trailHead" class="form-control" placeholder="Where your vehicle is parked" required>
				    </div>

				    <div class="form-group">
				        <label>Route</label>
				        <input ng-model="alert.route" class="form-control" placeholder="Route you are taking and destination (hut, crag, none)" required>
				    </div>

				    <div class="form-group">
				    	<label>Vehicle Description</label>
				    	<input ng-model="alert.vehicle" class="form-control" placeholder="Make, Model, Color">
				    </div>

				    <div class="form-group">
				    	<label>Vehicle License #</label>
				    	<input ng-model="alert.vehicleLic" class="form-control" placeholder="State and License #">
				    </div>

				    <div class="form-group">
				        <label>Return Time</label>
				        <input ng-model="alert.time" type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" min="2015-01-01T00:00:00" max="2017-12-31T00:00:00" required />
				    </div>

				    <div class="form-group">
				    	<label>Choose who to alert</label>
				    	<div ng-repeat="receiver in receivers">
							<input value="{{receiver._id}}" check-list="alertReceivers" type="checkbox">
				    		<label>{{receiver.name}}</label>
					    </div>
					</div>

				    <div class="from-group">
				    	<label>Active</label>
				    	<input value="true" type="checkbox" ng-model="alert.active">
				    </div>

				    <button type="submit" class="btn btn-default btn-ltblue">Submit</button>
					<button ng-click="toggleAddAlertForm()" class="btn btn-default btn-red" type="button">Cancel</button>
				</form>
			</div>
		</div>

		<!-- edit alert -->
		<div class="col-md-6">
			<div ng-show="editAlertForm">
				<form ng-submit="saveEditAlert()">

				    <div class="form-group">
				        <label>Trail Head</label>
				        <input ng-model="alertEdit.trailHead" class="form-control" placeholder="Where your vehicle is parked" required>
				    </div>

				    <div class="form-group">
				        <label>Route</label>
				        <input ng-model="alertEdit.route" class="form-control" placeholder="Route you are taking and destination (hut, crag, none)" required>
				    </div>

				    <div class="form-group">
				    	<label>Vehicle Description</label>
				    	<input ng-model="alertEdit.vehicle" class="form-control" placeholder="Make, Model, Color">
				    </div>

				    <div class="form-group">
				    	<label>Vehicle License #</label>
				    	<input ng-model="alertEdit.vehicleLic" class="form-control" placeholder="State and License #">
				    </div>

				    <div class="form-group">
				        <label>Return Time</label>
				        
				        <input ng-model="alertEdit.time " type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" min="2015-01-01T00:00:00" max="2017-12-31T00:00:00" required />
				    </div>

				    <div class="form-group">
				    	<label>Choose who to alert</label>	
				    	<div ng-repeat="receiver in receivers">
							<input value="{{receiver._id}}" check-list="alertEdit.receivers" type="checkbox">
				    		<label>{{receiver.name}}</label>
					    </div>
					</div>

					<div class="from-group">
				    	<label>Active</label>
				    	<input value="true" type="checkbox" ng-model="alertEdit.active">
				    </div>

				    <button type="submit" class="btn btn-default btn-ltblue">Submit</button>
					<button ng-click="toggleEditAlertForm()" class="btn btn-default btn-red" type="button">Cancel</button>
				</form>
			</div>
		</div>

	</div>

</div>


