<div class="container">
	<div class="row">
		<div class="btn-box-tab pull-left col-md-12">
			<button class="btn btn-tab btn-blue">Profile</button>
			<a href="#/receivers.html"><button class="btn btn-tab btn-ltblue">People</button></a>
			<a href="#/alerts.html"><button class="btn btn-tab btn-ltblue">Alerts</button></a>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">

		<!-- Show Profile -->
		<div class="col-md-6 view-height profile sidebar-red">
			<div class="profile-text">
				<h3 class="default-text">{{user.first}}</h3>
				<h3 class="default-text">{{user.last}}</h3>
				<h3>{{user.username}}</h3>
				<h3>{{user.phone}}</h3>
				<button ng-click="editProfile()" class="btn btn-md btn-blue btn-editProfile">Edit Profile</button>
			</div>
		</div>

		<!-- Profile text shown when edit form is not active -->
		<div ng-hide="editProfileForm" class="sidebar-blue view-height col-md-6">
			<p>Profile</p>
			<p>This is your profile. Edit your name, phone number, and email address here. Your email address is your username so don't forget what you used. Currently alerts will only be sent to your phone number, not your email address. You must send your "safe" text from the phone number in your profile.</p>
		</div>

		<!-- Edit Profile -->
		<div class="col-md-6" ng-show="editProfileForm"> 
		    <form ng-submit="saveProfile()">
		        <div class="form-group">
		            <label>Name</label>
		            <input ng-model="user.first" class="form-control" placeholder="first" required>
		        </div>
		        <div class="form-group">
		            <input ng-model="user.last" class="form-control" placeholder="last">
		        </div>
		        <div class="form-group">
		            <label>Email address</label>
		            <input ng-model="user.username" type="email" class="form-control" placeholder="name@email.com" required>
		        </div>
		        <div class="form-group">
		            <label>Phone Number (this number will be used by the system to send alerts to)</label>
		            <input ng-model="user.phone" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" class="form-control" placeholder="xxx-xxx-xxxx" required>
		        </div>
		        <button type="submit" class="btn btn-default btn-ltblue">Save</button>
		        <button ng-click="toggleEditProfileForm()" class="btn btn-default btn-red" type="button">Cancel</button>
		    </form>
		</div>
	</div>
</div>






