<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-7">
			<button class="btn btn-default btn-primary">Profile</button>
			<a href="#/receivers.html"><button class="btn btn-default">People</button></a>
			<a href="#/alerts.html"><button class="btn btn-default">Alerts</button></a>
			<button ng-click="logout()" class="btn btn-default">Log Out</button>
		</div>
	</div>
</div>

<div class="container">
	<h3>Profile</h3>
	<h4>{{user.first}}</h4>
	<h4>{{user.last}}</h4>
	<h4>{{user.phone}}</h4>
	<h4>{{user.username}}</h4>
</div>

<div class="container">
	<a class="btn" href="#/editprofile.html">Edit Profile</a>
	<button ng-click="sendMessage()">send sms</button>
</div>






