<div class="container">
	<div class="row">
		<div class="btn-box-tab pull-left col-md-12">
			<a href="#/profile.html"><button class="btn btn-tab btn-ltblue">Profile</button></a>
			<button class="btn btn-tab btn-blue">People</button>
			<a href="#/alerts.html"><button class="btn btn-tab btn-ltblue">Alerts</button></a>
		</div>
	</div>
</div>

<!-- Receivers ========================================================================================================================== -->
<div class="container">
	
	<div class="row">
		
		<!-- Display Receiver -->
		<div class="col-md-6 view-height sidebar-red">
			<div class="row">
				<div ng-repeat="receiver in receivers" class="data-container col-md-8">
					<h5>{{receiver.name}}</h5>
					<h5>{{receiver.email}}</h5>
					<h5>{{receiver.phone}}</h5>
					<div class="pull-right col-md-4 btn-box">
						<div class="pull-right">
							<button ng-click="editReceiver(receiver)" class="btn btn-sm btn-ltblue">edit</button>
							<button ng-click="removeReceiver($index)" class="btn btn-sm btn-blue">Remove</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="btn-add">
					<button ng-click="toggleAddReceiverForm()" class="btn btn-md btn-blue">Add People</button>
				</div>
			</div>
		</div>

		<!-- Receivers text shown when edit form is not active -->
		<div class="container" ng-hide="addReceiverForm || editReceiverForm">
			<div class="row row-blue">
				<div class="sidebar-blue view-height col-md-6">
					<p>People</p>
					<p>These are your people. Add, edit or remove people along with their phone numbers and email addresses here. You will choose individual or multiple people to receive alerts on the alert tab. Currently alerts will only be sent to their phone numbers, not their email addresses.</p>
				</div>
			</div>	
		</div>

		<!-- Add Receiver Form-->
		<div class="col-md-6">
			<div ng-show="addReceiverForm">
				<form ng-submit="addReceiver()">
				    <div class="form-group">
				        <label>Name</label>
				        <input ng-model="receiver.name" class="form-control" placeholder="name" required>
				    </div>
				    <div class="form-group">
				        <label>Email address</label>
				        <input ng-model="receiver.email" type="email" class="form-control" placeholder="name@email.com" required>
				    </div>
				    <div class="form-group">
				        <label>Phone Number (this number will be used by the system to send alerts to)</label>
				        <input ng-model="receiver.phone" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" class="form-control" placeholder="xxx-xxx-xxxx" required>
				    </div>
				    <button type="submit" class="btn btn-default btn-ltblue">Submit</button>
					<button ng-click="toggleAddReceiverForm()" class="btn btn-default btn-red" type="button">Cancel</button>
				</form>
			</div>
		</div>	

	
		<!-- Edit Receiver -->
		<div class="col-md-6">
			<div ng-show="editReceiverForm">
				<form ng-submit="saveEditReceiver()">
				    <div class="form-group">
				        <label>Name</label>
				        <input ng-model="receiverEdit.name" class="form-control" placeholder="name" required>
				    </div>
				    <div class="form-group">
				        <label>Email address</label>
				        <input ng-model="receiverEdit.email" type="email" class="form-control" placeholder="name@email.com" required>
				    </div>
				    <div class="form-group">
				        <label>Phone Number (this number will be used by the system to send alerts to)</label>
				        <input ng-model="receiverEdit.phone" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" class="form-control" placeholder="xxx-xxx-xxxx" required>
				    </div>
				    <button type="submit" class="btn btn-default btn-ltblue">Save</button>
					<button ng-click="toggleEditReceiverForm()" class="btn btn-default btn-red" type="button">Cancel</button>
				</form>
			</div>
		</div>


	</div>
</div>